version: '3.8'

services:
  db:
    image: postgis/postgis:16-3.4
    container_name: hirfa-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=hirfa
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
